@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

html {
    font-family: Poppins, sans-serif;
}

body {
    background-color: rgb(247, 247, 247);
}

.header {
    margin: 3% 2% 0 7%;
    display: flex;
    flex-direction: column;
}


#fhirSpan, #dashboardSpan {
    font-size: 3rem;
    letter-spacing: 4px;
}

#fhirSpan {
    font-weight: 700;
    margin-right: 20px;

    background: #ff4b1f;
    background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
    background: linear-gradient(to right, #ff9068, #ff4b1f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.dashboardSpan {
    font-weight: 300;
}

#elementLogo {
    width: 8%;
    margin-right: 2%;
}